body {
  background: linear-gradient(180deg, #e6c7fd, #d5a2fd);
  margin: 0px;
  padding: 0px;
}

p {
  color: #210430;
  font-size: 1.2em;
  padding: 20px;
}

a {
  color: #4f068d;
  text-decoration: none;
}

a:hover {
  color: #968304;
  text-decoration: underline;
}

input, select, textarea {
  background-color: #f1e1fd;
  padding: 5px;
}

select {
  position: relative;
    right: 23px;
}

fieldset {
  float: center;
  margin: 20px;
  overflow: hidden;
  text-align: left;
  min-width: 320px;
}

header {
  background: linear-gradient(180deg, #fbe344, #dabe04);
  height: 125px;
  margin-top: -16px;
  overflow: hidden;
  position: relative;
    top: 0;
  text-align: center;
  width: 100%;
}

.logo {
  float: left;
  padding: 50px 50px 50px 200px;
}

header ul li {
  display: inline;
  list-style-type: none;
  padding: 20px;
  position: relative;
    top: 40px;
}

header a {
  color: #2d1649;
  font-size: 1.2em;
  text-decoration: none;
}

header a:hover {
  color: #5b1ca9;
  text-decoration: underline;
}

section {
  text-align: center;
}

#sectionWrapper section {
  float: left;
}

section ul li {
  display: inline-block;
  float: center;
  list-style-type: none;
  margin: 15px 100px 20px 20px;
}

#shipping {
  background-color: #ce81fb;
  border: 1px solid gray;
  float: left;
  margin: 20px;
  max-width: 320px;
  padding: 10px;
}

/*#billing {
  background-color: #ce81fb;
  border: 1px solid black;
  max-width: 320px;
  position: relative;
    left: 300px;
}*/

#imageHolder-1 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#imageHolder-2 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#imageHolder-3 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#imageHolder-4 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#imageHolder-5 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#imageHolder-6 {
  background-color: black;
  float: left;
  height: 300px;
  width: 250px;
}

#individualImageHolder {
  background-color: black;
  float: center;
  height: 599px;
  width: 499px;
}

footer {
  background: linear-gradient(180deg, #3f025e, #1d012c);
  min-height: 160px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
    bottom: -15px;
  text-align: center;
  width: 100%;
}

footer ul li {
  display: inline;
  list-style-type: none;
  padding: 20px;
  position: relative;
    top: 20px;
}

footer a {
  color: #f6bb06;
  font-size: 1.2em;
  text-decoration: none;
}

footer a:hover {
  color: #fbe344;
  text-decoration: underline;
}

footer p {
  color: white;
  font-size: 1.1em;
  position: relative;
    top: 20px;
}
